{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- About Us Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-1 mb-n8">

                <div class="col mb-8">
                    {% comment %} <img  src="{% static 'website/images/others/about-us.png' %}" alt="about us image" width="560" height="472"> {% endcomment %}
                    <div class="section-title">
                        <h2 class="sub-title"><span class="text-primary">SHORT ETHIOPIAN COFFEE HISTORY</span></h2>
                        <p class="text">Coffee arabica is an Ethiopian indigenous plant.  Ethiopia was the only country in the world where coffee was consumed 1100 years ago.  The discovery of Ethiopian coffee brings up the story of Khald. According to the legend,  Khald's goats tasted the coffee leafs berry, cheered, and felt full of hapiness. Khald then began to investigate why his goats behavior changed. He then tasted the berry for himself.  In turn, his mind was awakened and he began to rejoice.  Recognizing the powerful stimulus, Khald brought some of coffee berries to his wife. When she tasted it and she too was enlightened and praised him, exclaiming, "This is from heaven." </p>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <p class="feature-text">Yemen was the first destination for coffee when it crossed the border and spread to other continents and countries.  Arab caravan merchants came to Ethiopia for trade in 520 A.D  and took coffee beans to their homeland and began to spread coffee in Yemen.</p>
                            <p class="feature-text">500 years ago the Europeans started purchasing coffee from Arab and it was given the scientific name "Coffee Arabica"</p>
                            <p class="feature-text">Coffee is the second most consumed liquid in the world right now, only behind water. It is also the world's second largest commodity - only behind oil.</p>
                        </div>
                    </div>
                </div>

                <div class="col mb-8">
                    <div class="section-title">
                        <h2 class="sub-title"><span class="text-primary">TUKKE</span> COFFEE INFO</h2>
                        <p class="text">Tukke Coffee is independent coffee roasting and sales company in Addis Ababa, Ethiopia. Tukke coffee founder Mintamer Bekele was born and raised in Yirgachefe, were one of the best prominent coffee growing regions in the country. After 30 years in Canada: She started Tukke Coffee to achieve her long-waiting dream. In 2021 she went back to Yirgachefe to visit her home town and reconnect with local coffee culture. This motivated her to start and achieve what she set out to do. </p>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <h3 class="feature-title">WE VALUE LOCAL COMMUNITY</h3>
                            <p class="feature-text">In keeping the spirit of Ethiopian coffee shops, we also work to foster a community environment at our café. We are consistently thinking up new ways to support our local community, giving lesson on how to keep their environment clean, plant trees and as much as possible volunteer for activities, to help and train the local coffee produces. </p>
                        </div>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <h3 class="feature-title">VISIT US</h3>
                            <p class="feature-text">By visiting us in person at our café, or ordering our coffee online, be a part of our community and Support Ethiopian coffee producers.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- About Us Section End -->
    <div class="section section-padding bg-dark text-light">
        <div class="container">
            <div class="feature-1 mw-100">
                <div class="feature-content">
                    <h3 class="feature-title text-light">Our Mission</h3>
                    <p class="feature-text">Providing quality coffee at effective cost to all our customers in large or small amount.</p>
                </div>
            </div>
            <div class="feature-1 mw-100">
                <div class="feature-content">
                    <h3 class="feature-title text-light">Our Vision</h3>
                    <p class="feature-text">Supplying quality coffee with the fastest delivery ever in the market and to become one of the best coffee supplier company in the world.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Section Start -->
    <div class="h1-testimonial-section section section-padding bg-light">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">What Client Says</p>
                <h2 class="sub-title">Testimonials</h2>

            </div>

            <div class="testimonial-slider swiper">

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial">
                            <div class="testimonial-client-thumb"><img  src="{% static 'website/images/testimonial/testimonial-1.png' %}" alt="Hester Perkins" width="100" height="100"></div>
                            <div class="testimonial-text">
                                <p>I have been a lot of places and tested their coffee. But Tukke Coffee is the best Coffee! You can test it at their café or take roasted or Cofffee powder with you.</p>
                            </div>
                            <div class="testimonial-client-info">
                                <h5 class="testimonial-client-name">Philippe Kuznik</h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial">
                            <div class="testimonial-client-thumb"><img  src="{% static 'website/images/testimonial/testimonial-3.png' %}" alt="Hester Perkins" width="100" height="100"></div>
                            <div class="testimonial-text">
                                <p>I've been drinking coffee for years and I can honestly say that coffee is the best product out there. Coffee has a perfect taste and it wakes me up in the morning. It's also really affordable.</p>
                            </div>
                            <div class="testimonial-client-info">
                                <h5 class="testimonial-client-name">Meron Seifu</h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial">
                            <div class="testimonial-client-thumb"><img  src="{% static 'website/images/testimonial/testimonial-2.png' %}" alt="Hester Perkins" width="100" height="100"></div>
                            <div class="testimonial-text">
                                <p>As an Ethiopian I've tested experience lots of different coffee and cafes, now my choices is Tukke weather to take home or get the cup at the Cafe.</p>
                            </div>
                            <div class="testimonial-client-info">
                                <h5 class="testimonial-client-name">Fitsum Kostre</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev d-none d-md-flex"></div>
                <div class="swiper-button-next d-none d-md-flex"></div>
            </div>

        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Team Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">What Happens Here</p>
                <h2 class="sub-title">OUR AWESOME TEAM</h2>

            </div>

            <div class="team-carousel swiper">

                <div class="swiper-wrapper">

                    <div class="swiper-slide swiper-teams">
                        <div class="team">
                            <div class="team-thumb">
                                <img  src="{% static 'website/images/team/team-1.png' %}" alt="Mintamer Bekele Asfaw" width="370" height="324">
                            </div>
                            <div class="team-content">
                                <h4 class="team-name">Mintamer Bekele Asfaw</h4>
                                <p class="team-title">General Manager and Owner</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-teams">
                        <div class="team">
                            <div class="team-thumb">
                                <img  src="{% static 'website/images/team/team-2.png' %}" alt="Behayilu Agafari Meshesha" width="370" height="324">
                            </div>
                            <div class="team-content">
                                <h4 class="team-name">Behayilu Agafari Meshesha</h4>
                                <p class="team-title">Customer coordinator</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-teams">
                        <div class="team">
                            <div class="team-thumb">
                                <img  src="{% static 'website/images/team/team-3.png' %}" alt="Abush Wajebo Haile" width="370" height="324">
                            </div>
                            <div class="team-content">
                                <h4 class="team-name">Abush Wajebo Haile</h4>
                                <p class="team-title">Export Manager</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination d-md-none"></div>
                <div class="swiper-button-prev d-none d-md-flex"></div>
                <div class="swiper-button-next d-none d-md-flex"></div>
            </div>

        </div>
    </div>
    <!-- Team Section End -->
{% endblock %}