{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- About Us Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-1 mb-n8">

                <div class="col mb-8">
                    <img style="border: 0px solid; border-radius: 25px; margin: 20px 0px;" src="{% static 'website/images/others/about-us.png' %}" alt="about us image" width="560" height="472">
                    <div class="section-title">
                        <h2 class="sub-title"><span class="text-primary">SHORT ETHIOPIAN COFFEE HISTORY</span></h2>
                        <p class="text">Coffee arabica is an Ethiopian indigenous plant.  Ethiopia was the only country in the world where coffee was consumed 1100 years ago.  The discovery of Ethiopian coffee brings up the story of Khald. According to the legend,  Khald's goats tasted the coffee leafs berry, cheered, and felt full of hapiness. Khald then began to investigate why his goats behavior changed. He then tasted the berry for himself.  In turn, his mind was awakened and he began to rejoice.  Recognizing the powerful stimulus, Khald brought some of coffee berries to his wife. When she tasted it and she too was enlightened and praised him, exclaiming, "This is from heaven." </p>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <p class="feature-text">Yemen was the first destination for coffee when it crossed the border and spread to other continents and countries.  Arab caravan merchants came to Ethiopia for trade in 520 A.D  and took coffee beans to their homeland and began to spread coffee in Yemen.</p>
                            <p class="feature-text">500 years ago the Europeans started purchasing coffee from Arab and it was given the scientific name "Coffee Arabica"</p>
                            <p class="feature-text">Coffee is the second most consumed liquid in the world right now, only behind water. It is also the world's second largest commodity - only behind oil.</p>
                        </div>
                    </div>
                </div>

                <div class="col mb-8">
                    <div class="section-title">
                        <h2 class="sub-title"><span class="text-primary">TUKKE</span> COFFEE INFO</h2>
                        <p class="text">Tukke Coffee is independent coffee roasting and sales company in Addis Ababa, Ethiopia.</p>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <h3 class="feature-title">WE VALUE LOCAL COMMUNITY</h3>
                            <p class="feature-text">In keeping the spirit of Ethiopian coffee shops, we also work to foster a community environment at our café. We are consistently thinking up new ways to support our local community, giving lesson on how to keep their environment clean, plant trees and as much as possible volunteer for activities, to help and train the local coffee produces. </p>
                        </div>
                    </div>
                    <div class="feature-1 mw-100">
                        <div class="feature-content">
                            <h3 class="feature-title">VISIT US</h3>
                            <p class="feature-text">By visiting us in person at our café, or ordering our coffee online, be a part of our community and Support Ethiopian coffee producers.</p>
                        </div>
                    </div>
                    <img style="border: 0px solid; border-radius: 25px; margin: 10px 0px;" src="{% static 'website/images/others/about-us1.png' %}" alt="about us image" width="560" height="472">
                </div>

            </div>
        </div>
    </div>
    <!-- About Us Section End -->
    <div class="section section-padding bg-dark text-light">
        <div class="container">
            <div class="feature-1 mw-100">
                <div class="feature-content">
                    <h3 class="feature-title text-light">Our Mission</h3>
                    <p class="feature-text">Providing quality coffee at effective cost to all our customers in large or small amount.</p>
                </div>
            </div>
            <div class="feature-1 mw-100">
                <div class="feature-content">
                    <h3 class="feature-title text-light">Our Vision</h3>
                    <p class="feature-text">Supplying quality coffee with the fastest delivery ever in the market and to become one of the best coffee supplier company in the world.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}