{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Contact Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-md-2 row-cols-1 g-6">
                <div class="col">
                    <div class="block-title">

                        <h2 class="sub-title">Keep in Touch</h2>
                    </div>
                    <ul class="contact-info">
                        <li><i class="sli-location-pin"></i>Kenenisa avenue,  <br> Shola market.</li>
                        <li><i class="sli-envelope"></i>info@tukkecoffee.com</li>
                        <li><i class="sli-phone"></i>(+251) 912633555 <br> (+251) 965858484 <br> (+251) 977112277</li>
                    </ul>
                </div>
                <div class="col">
                    <div class="contact-form">
                        <form>
                            <div class="row row-cols-1 g-4">
                                <div class="col-sm-6 col-md-12 col-lg-6 col"><input class="form-field" name="name" type="text" placeholder="Name" required></div>
                                <div class="col-sm-6 col-md-12 col-lg-6 col"><input class="form-field" name="email" type="email" placeholder="Email" required></div>
                                <div class="col"><input class="form-field" name="subject" type="text" placeholder="Subject" required></div>
                                <div class="col"><textarea class="form-field" name="message" placeholder="Message" required></textarea></div>
                                <div class="col"><input class="btn btn-dark btn-primary-hover rounded-0 w-100" type="submit" value="Send Message"></div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->

    
{% endblock %}