{% extends "website/base.html" %}
{% load static %}

{% block content %}
    <!-- Slider Section Start -->
    <div class="h1-hero-section section">
        <div class="hero-slider hero-slider-1 swiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide hero-slide-1 bg-light">
                    <div class="container">
                        <div class="row align-items-center mb-n6">

                            <div class="col-lg-6 col-sm-7 col-12 mb-6">
                                <div class="hero-slide-1-content">
                                    <h5 class="hero-slide-1-sub-title">Black coffee is awesome.</h5>
                                    <h2 class="hero-slide-1-title">TIME DISCOVER <br> COFFEE HOUSE</h2>
                                    <p class="hero-slide-1-text">Experience the decibels like your ears deserve to. Safe for the ears, very for the heart. A treat to your ears.</p>
                                    <div class="hero-slide-1-button">
                                        <a href="{% static '' %}shop-left-sidebar.html" class="btn btn-primary btn-dark-hover">Explore More <i class="sli-basket-loaded"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-5 col-12 mb-6">
                                <div class="hero-slide-1-image"><img src="{% static 'website/images/hero-slider/home-1/slide-1.png' %}" alt="TIME DISCOVER COFFEE HOUSE" width="570" height="512"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-slide hero-slide-1 bg-light">
                    <div class="container">
                        <div class="row align-items-center mb-n6">

                            <div class="col-lg-6 col-sm-7 col-12 mb-6">
                                <div class="hero-slide-1-content">
                                    <h5 class="hero-slide-1-sub-title">Black coffee is awesome.</h5>
                                    <h2 class="hero-slide-1-title">TIME DISCOVER <br> COFFEE HOUSE</h2>
                                    <p class="hero-slide-1-text">Experience the decibels like your ears deserve to. Safe for the ears, very for the heart. A treat to your ears.</p>
                                    <div class="hero-slide-1-button">
                                        <a href="{% static '' %}shop-left-sidebar.html" class="btn btn-primary btn-dark-hover">Explore More <i class="sli-basket-loaded"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-5 col-12 mb-6">
                                <div class="hero-slide-1-image"><img src="{% static 'website/images/hero-slider/home-1/slide-2.png' %}" alt="TIME DISCOVER COFFEE HOUSE" width="570" height="633"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-slide hero-slide-1 bg-light">
                    <div class="container">
                        <div class="row align-items-center mb-n6">

                            <div class="col-lg-6 col-sm-7 col-12 mb-6">
                                <div class="hero-slide-1-content">
                                    <h5 class="hero-slide-1-sub-title">Black coffee is awesome.</h5>
                                    <h2 class="hero-slide-1-title">TIME DISCOVER <br> COFFEE HOUSE</h2>
                                    <p class="hero-slide-1-text">Experience the decibels like your ears deserve to. Safe for the ears, very for the heart. A treat to your ears.</p>
                                    <div class="hero-slide-1-button">
                                        <a href="{% static '' %}shop-left-sidebar.html" class="btn btn-primary btn-dark-hover">Explore More <i class="sli-basket-loaded"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-5 col-12 mb-6">
                                <div class="hero-slide-1-image"><img src="{% static 'website/images/hero-slider/home-1/slide-3.png' %}" alt="TIME DISCOVER COFFEE HOUSE" width="570" height="632"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev d-none d-md-flex"></div>
            <div class="swiper-button-next d-none d-md-flex"></div>
        </div>
    </div>
    <!-- Slider Section End -->

    <!-- Feature Section Start -->
    <div class="h1-feature-section section section-padding">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">Popular Item</p>
                <h2 class="sub-title">COFFEE BUILD YOUR BASE.</h2>

            </div>
            <div class="row row-cols-lg-3 row-cols-1 mb-n8">

                <div class="col mb-8">
                    <div class="feature-1 reverse">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/croissant.svg' %}" onload="SVGInject(this)" alt="CROISSANT" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">CROISSANT</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                    <div class="feature-1 reverse">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/hot-dog.svg' %}" onload="SVGInject(this)" alt="FRENCH TOAST" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">FRENCH TOAST</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                    <div class="feature-1 reverse">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/cup-cake.svg' %}" onload="SVGInject(this)" alt="PANCAKES" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">PANCAKES</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                    <div class="feature-1 reverse">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/donut.svg' %}" onload="SVGInject(this)" alt="CHOCOLATE" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">CHOCOLATE</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                </div>

                <div class="col text-center mb-8">
                    <img loading="lazy" src="{% static 'website/images/feature/one/feature-image.png' %}" alt="feature image" width="365" height="475">
                </div>

                <div class="col mb-8">
                    <div class="feature-1">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/coffee-alt.svg' %}" onload="SVGInject(this)" alt="TURKISH COFFEE" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">TURKISH COFFEE</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                    <div class="feature-1">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/coffee-mug.svg' %}" onload="SVGInject(this)" alt="COFFEE TO GO" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">COFFEE TO GO</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                    <div class="feature-1">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/coffee-pot.svg' %}" onload="SVGInject(this)" alt="MORNING COFFEE" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">MORNING COFFEE</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                    <div class="feature-1">
                        <div class="feature-icon "><img loading="lazy" src="{% static 'website/images/feature/one/french-fries.svg' %}" onload="SVGInject(this)" alt="ESPRESSO" width="50" height="50"></div>
                        <div class="feature-content">
                            <h3 class="feature-title">ESPRESSO</h3>
                            <p class="feature-text">This is the perfect place to find a nice and cozy spot to sip some.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Feature Section End -->

    <!-- Reservation Section Start -->
    <div class="h1-reservation-section section section-padding bg-light">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">What Happens Here</p>
                <h2 class="sub-title">RESERVATION AREA</h2>

            </div>
            <div class="row row-cols-md-2 row-cols-1 mb-n8">

                <div class="col-lg-7 col mb-8">
                    <a href="https://goo.gl/maps/x2xEe1fRmxokzGij8" target="_blank" class="map-link">
                        <img class="map-image" src="{% static 'website/images/others/map.png'%}" style="border:0; width: 100%; min-height: 400px; height: 100%;"/>
                        <div class="map-middle">
                            <div class="map-text">find tukkecoffee on map</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-5 col mb-8">
                    <div class="reservation-form">
                        <div class="block-title">
                            <p class="title">#Reservation</p>
                            <h2 class="sub-title">BOOK A TABLE</h2>
                        </div>
                        <form action="#">
                            <div class="input-field"><input class="form-field" type="email" placeholder="Your Email"></div>
                            <div class="input-field"><input class="form-field" type="number" value="1" min="1"></div>
                            <div class="input-field"><input class="form-field" type="date" value="2024-01-01"></div>
                            <div class="input-field"><input class="form-field" type="time" value="13:00"></div>
                            <div class="input-field"><textarea class="form-field" placeholder="Your Message"></textarea></div>
                            <div class="input-field"><input class="btn btn-dark btn-primary-hover rounded-0 w-100" type="submit" value="Book A Table"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Reservation Section End -->

    <!-- Coffee Menu Section Start -->
    <div class="h1-coffee-menu-section  section section-padding">
        <div class="container">
            <div class="section-title section-title-center">
                <p class="title">Simple Menu</p>
                <h2 class="sub-title">OUR POPULAR MENU</h2>

            </div>
            <div class="row row-cols-lg-2 row-cols-1 mb-n6">

                <div class="col mb-6">
                    <div class="coffee-menu">
                        <a href="{% static '' %}product-details.html" class="coffee-menu-thumb"><img loading="lazy" src="{% static 'website/images/coffee-menu/coffee-1.png' %}" alt="Grilled Cheese Sandwich" width="85" height="85"></a>
                        <div class="coffee-menu-content">
                            <h3 class="coffee-menu-title"><a href="{% static '' %}product-details.html">Grilled Cheese Sandwich</a></h3>
                            <p>It is produced by grinding roasted coffee beans, then boiling them.</p>
                        </div>
                        <span class="coffee-menu-price">$19.99 <del>$25.99</del></span>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="coffee-menu">
                        <a href="{% static '' %}product-details.html" class="coffee-menu-thumb"><img loading="lazy" src="{% static 'website/images/coffee-menu/coffee-2.png' %}" alt="Italian Rosted Coffee" width="85" height="85"></a>
                        <div class="coffee-menu-content">
                            <h3 class="coffee-menu-title"><a href="{% static '' %}product-details.html">Italian Rosted Coffee</a></h3>
                            <p>It is produced by grinding roasted coffee beans, then boiling them.</p>
                        </div>
                        <span class="coffee-menu-price">$19.99 </span>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="coffee-menu">
                        <a href="{% static '' %}product-details.html" class="coffee-menu-thumb"><img loading="lazy" src="{% static 'website/images/coffee-menu/coffee-3.png' %}" alt="Brazilan Rosted Coffee" width="85" height="85"></a>
                        <div class="coffee-menu-content">
                            <h3 class="coffee-menu-title"><a href="{% static '' %}product-details.html">Brazilan Rosted Coffee</a></h3>
                            <p>It is produced by grinding roasted coffee beans, then boiling them.</p>
                        </div>
                        <span class="coffee-menu-price">$19.99 </span>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="coffee-menu">
                        <a href="{% static '' %}product-details.html" class="coffee-menu-thumb"><img loading="lazy" src="{% static 'website/images/coffee-menu/coffee-4.png' %}" alt="Mexican Cold Coffee" width="85" height="85"></a>
                        <div class="coffee-menu-content">
                            <h3 class="coffee-menu-title"><a href="{% static '' %}product-details.html">Mexican Cold Coffee</a></h3>
                            <p>It is produced by grinding roasted coffee beans, then boiling them.</p>
                        </div>
                        <span class="coffee-menu-price">$19.99 </span>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="coffee-menu">
                        <a href="{% static '' %}product-details.html" class="coffee-menu-thumb"><img loading="lazy" src="{% static 'website/images/coffee-menu/coffee-5.png' %}" alt="Mericano Cold Coffee" width="85" height="85"></a>
                        <div class="coffee-menu-content">
                            <h3 class="coffee-menu-title"><a href="{% static '' %}product-details.html">Mericano Cold Coffee</a></h3>
                            <p>It is produced by grinding roasted coffee beans, then boiling them.</p>
                        </div>
                        <span class="coffee-menu-price">$19.99 </span>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="coffee-menu">
                        <a href="{% static '' %}product-details.html" class="coffee-menu-thumb"><img loading="lazy" src="{% static 'website/images/coffee-menu/coffee-6.png' %}" alt="Americano Rosted Coffee" width="85" height="85"></a>
                        <div class="coffee-menu-content">
                            <h3 class="coffee-menu-title"><a href="{% static '' %}product-details.html">Americano Rosted Coffee</a></h3>
                            <p>It is produced by grinding roasted coffee beans, then boiling them.</p>
                        </div>
                        <span class="coffee-menu-price">$19.99 </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Coffee Menu Section End -->
{% endblock %}