{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Products</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="shop-product-section section section-padding">
        <div class="container">
            <div class="row mb-n8">

                <div class="col-lg-9 col-12 mb-8">

                    <!-- Product Tab Start -->
                    <div class="tab-content" id="shopProductTabContent">
                        <div class="tab-pane fade" id="product-grid">
                            <div class="row row-cols-xl-3 row-cols-sm-2 row-cols-1 mb-n6">

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="product-details.html" class="product-image"><img loading="lazy" src="website/images/products/product-9.png" alt="Supreme Dark Roast Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="product-details.html">Supreme Dark Roast Coffee</a></h5>
                                            <div class="product-price"><del>$75.00</del>$55.00</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 65%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="product-list">
                            <div class="row row-cols-md-1 row-cols-sm-2 row-cols-1 mb-n6">

                                <div class="col mb-6">
                                    <div class="product product-list">
                                        <div class="product-thumb">
                                            <a href="#" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-1.png' %}" alt="Premium Roast Coffee" width="268" height="306"></a>

                                            <div class="product-action">
                                            </div>


                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="#">Yirgacheffe Coffee</a></h5>
                                            <p class="product-excerpt">are spicy and fragrant, and are frequently reviewed and rated as some of the highest quality Arabica coffees in the world. Grown between 1700-2200masl. Flavor: Sweet and Aroma</p>
                                            <div class="product-price"><i>quote for the price</i></div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 100%;"></span></span>
                                            </div>
                                            <div class="product-action position-static">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product product-list">
                                        <div class="product-thumb">
                                            <a href="#" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-2.png' %}" alt="Supreme Dark Roast Coffee" width="268" height="306"></a>

                                            <div class="product-action">
                                            </div>

                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="#">Sidama Coffee</a></h5>
                                            <p class="product-excerpt">Orgin from Sidama regional state in Ethiopia. Its grown between 1700-1950masl. Chocolate ganache and blackberries are the flavor notes of Sidama coffee</p>
                                            <div class="product-price"><i>quote for the price</i></div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 100%;"></span></span>
                                            </div>
                                            <div class="product-action position-static">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Tab End -->

                </div>

                <div class="col-md-3 contact-form">
                    <h1>Get Quote </h1>
                    <div class="col"><input class="form-control form-field mb-2" name="name" type="text" placeholder="Name"></div>
                    <div class="col"><input class="form-control form-field mb-2" name="email" type="email" placeholder="Email"></div>
                    <div class="col"><input class="form-control form-field mb-2" name="subject" type="text" placeholder="Quote number (optional)"></div>
                    <div class="col"><textarea class="form-control form-field mb-2" name="message" placeholder="Detail"></textarea></div>
                    <div class="col"><button class="btn btn-dark btn-primary-hover rounded-0 w-100" type="submit"><i class="sli-cursor"></i> Send</button></div>
                </div>

            </div>
        </div>
    </div>

    <!-- Product Section End -->
{% endblock %}