{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Products</li>
            </ul>
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Product Section Start -->
    <div class="shop-product-section section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- Product Tab Start -->
                    <div class="tab-content" id="shopProductTabContent">
                        <div class="tab-pane fade show active" id="product-grid">
                            <h1>Products For Sell </h1>
                            <hr>
                            <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-1.png' %}" alt="House Coffee Original" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">House Coffee Original</a></h5>
                                            <div class="product-price">#10121</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 90%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-2.png' %}" alt="Medium Roast Ground Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">Medium Roast Ground Coffee</a></h5>
                                            <div class="product-price">#10122</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 80%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-3.png' %}" alt="Premium Roast Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">Premium Roast Coffee</a></h5>
                                            <div class="product-price">#10123</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 100%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-4.png' %}" alt="Signature Blend Roast Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">Signature Blend Roast Coffee</a></h5>
                                            <div class="product-price">#10124</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 75%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="product-grid">
                            <h1 class="mt-5">Products For Export </h1>
                            <hr>
                            <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n6">

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-1.png' %}" alt="House Coffee Original" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">House Coffee Original</a></h5>
                                            <div class="product-price">#10121</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 90%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-2.png' %}" alt="Medium Roast Ground Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">Medium Roast Ground Coffee</a></h5>
                                            <div class="product-price">#10122</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 80%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-3.png' %}" alt="Premium Roast Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">Premium Roast Coffee</a></h5>
                                            <div class="product-price">#10123</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 100%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mb-6">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="{% url 'product_details' %}" class="product-image"><img loading="lazy" src="{% static 'website/images/products/product-4.png' %}" alt="Signature Blend Roast Coffee" width="268" height="306"></a>
                                        </div>
                                        <div class="product-content">

                                            <h5 class="product-title"><a href="{% url 'product_details' %}">Signature Blend Roast Coffee</a></h5>
                                            <div class="product-price">#10124</div>
                                            <div class="product-rating">
                                                <span class="product-rating-bg"><span class="product-rating-active" style="width: 75%;"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Product Tab End -->
                </div>
                <div class="col-md-3 contact-form">
                    <h1>Get Quote </h1>
                    <div class="col"><input class="form-control form-field mb-2" name="name" type="text" placeholder="Name"></div>
                    <div class="col"><input class="form-control form-field mb-2" name="email" type="email" placeholder="Email"></div>
                    <div class="col"><input class="form-control form-field mb-2" name="subject" type="text" placeholder="Quote number (optional)"></div>
                    <div class="col"><textarea class="form-control form-field mb-2" name="message" placeholder="Detail"></textarea></div>
                    <div class="col"><button class="btn btn-dark btn-primary-hover rounded-0 w-100" type="submit"><i class="sli-cursor"></i> Send</button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section End -->
{% endblock %}